@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */
:root {
  --background: #f0f0f0;  /* Exemple de couleur de fond */
  --foreground: #333333;  /* Exemple de couleur de texte */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Ajoutez ici d'autres styles globaux si nécessaire */
